.awesome-toc-root {
  position: fixed;
  right: 20px;
  top: 20px;
  overflow-y: auto;
  background-color: white;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  z-index: 99999999999999;
  color: black;
  font-size: 16px;
}

.tree-wrapper {
  max-width: 300px;
  max-height: 60vh;
  min-width: 30px;
  min-height: 30px;
}

.tree-wrapper .btn {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 5px;
  top: 5px;
  border-radius: 50%;
  cursor: pointer;
}

.tree-wrapper .ant-tree {
  padding: 25px 25px 14px 0px;
}
