#awesome-toc-root {
  position: fixed;
  right: 20px;
  top: 20px;
  max-width: 300px;
  max-height: 60vh;
  overflow-y: auto;
  background-color: white;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  z-index: 99999999999999;
  color: black;
}

#awesome-toc-root .tree-wrapper {
  padding: 20px;
}
