.sedationh-tree-node {
  padding-left: 14px;
}
.sedationh-tree-node-content {
  display: flex;
  align-items: stretch;
  padding-bottom: 2px;
  line-height: 24px;
}
.sedationh-tree-node-content-switcher {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  cursor: pointer;
  user-select: none;
}
.sedationh-tree-node-content-switcher-icon {
  transform: rotate(-90deg);
  transition-duration: 0.3s;
  transition-property: transform;
}
.sedationh-tree-node-content-switcher-icon.expanded {
  transform: rotate(0deg);
}
.sedationh-tree-node-content-switcher-placeholder {
  width: 24px;
}
.sedationh-tree-node-content-title {
  max-width: calc(100% - 14px - 24px);
  padding: 0 4px;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  border-radius: 2px;
  cursor: pointer;
  transition-duration: 0.3s;
  transition-property: background-color;
}
.sedationh-tree-node-content-title:hover {
  background-color: #f5f5f5;
}
.sedationh-tree-node-content-title.selected {
  background-color: #bae7ff;
}
.sedationh-tree-node-children-wrapper {
  height: 0;
  overflow: hidden;
}
.sedationh-tree-node-children-wrapper.expanded {
  height: auto;
}
.sedationh-tree-node-children-wrapper.expanded > .sedationh-tree-node-children {
  transform: translateY(0);
}
.sedationh-tree-node .sedationh-tree-node-children {
  transform: translateY(-100%);
  transition: transform, 0.3s;
}
