.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.section {
  width: 520px;
}

.section .title {
  font-weight: 400;
}

.choice {
  margin-bottom: 20px;
  padding: 5px;
  border-radius: 5px;
  transition: background-color 0.3s;
  background-color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.choice:hover {
  background-color: rgb(192, 192, 192);
}

.choice > input[type='radio'] {
  width: 16px;
  height: 16px;
}
